.cf{
  margin:0px;
  padding: 0px;
}
#msb{
  background-color: #1F60ab;
  position: absolute;
  width:220px;
  height: 700px;
  overflow-y: auto;
}
#msb li{
  list-style: none;
 
  display: block;
  margin-top: 10px;
}
#msb li:hover{
  border-right :5px solid #C65252;
  margin-bottom: 5px;
}
#msb li a{
  text-decoration: none;
  color: white;
}
#msb button{
  width: 100%;
  background: transparent;
  border: none;
  color: #fff;
  text-align: left;
}

.subjectbody{
  height: 700px;
  overflow-y: auto;
  margin-left: 220px;
}
.collapse-botton{
  display: block;
}
@media(max-width:768px){
  .collapse-botton{
    display: block;
  }
}